<div class="group-title-container">
  <div class="g-container">
    <span class="word"><h3><%= @group.name %></h3></span>
  </div>
</div>

<div class="buttons-container-group">
<div class="messages-buttons">
  <div class="button-container">
    <p class="profile-buttons" id="pbtn1"><%= link_to "Back", groups_path %></p>
    <p class="profile-buttons" id="pbtn2"><%= link_to "Add Users", edit_group_path(@group) %></p>
    <p class="profile-buttons" id="pbtn3"><%= link_to "Calendar", new_user_path %></p>
  </div>
</div>
</div>

<div id="PopUpModal" class="custom-modal">
  <div class="custom-modal-content">
    <span class="close"></span>
      <%= simple_form_for @group do |f| %>
        <%= f.input :users, collection: @friends %>
        <%= f.submit "+", class: 'add-button' %>
      <% end %>
    </div>
  </div>

<hr class="horizontal-line my-4" size="30" width="75%">

<div class="group-members-container">
  <% @group.users.each do |user| %>
  <div class="each-user">
    <% if user.photo.attached? %>
      <%= cl_image_tag user.photo.key %>
    <% else %>
      <%= cl_image_tag("u7dlw0t2qwoy93ogrpd3q6ir8soj") %>
    <% end %>
      <h6><%= user.name %></h6>
    </div>
  <% end %>
</div>
<div class="upcoming-plan-cont">
  <div class="upcoming-group-plan">
    <% @group.plans.each do |plan| %>
      <h3>Next meetup: <%= link_to "#{plan.place.name}", place_path(plan.place) %></h3>
      <h3>Date: <%= plan.date.strftime("%B #{plan.date.day.ordinalize}, %Y") %></h3>
      <div>
        <% if plan.place.photos.attached? %>
          <%= cl_image_tag plan.place.photos.first.key %>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>


<div class="post-cont">
  <div class="group-posts">
    <h3> Group Posts </h3>
    <!-- Button trigger modal -->
    <button type="button" class="call-to-action" data-toggle="modal" data-target="#exampleModal" id="review-btn">
    Post
    </button>
  </div>
</div>

<div class="reviews-container">
  <% if @group.posts.blank? %>
    <h3>Be the first to post in <%= @group.name  %></h3>
  <% else %>
    <% @group.posts.each do |post| %>
      <div class="review-scroller">
        <div class="reviews-card-container">
          <div class="reviews-card" id="review-<%= post.id %>">
            <%= cl_image_tag post.user.photo.key %>
            <div class="reviews-card-infos">
              <% if post.user.name  %>
                <h2><%= post.user.name %></h2>
              <% else %>
              <% end  %>
              <p><%= post.content %></p>
            <%= link_to "Remove", post_path(post), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height:50px;">
        <h5 class="modal-title" id="exampleModalLabel">Write a Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= simple_form_for [ @group, @post ] do |f| %>
         <%= f.input :content %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

