<div class="group-title-container">
  <div class="container">
    <span class="word"><%= @group.name %></span>
  </div>
</div>

<div class="buttons-container">
<div class="messages-buttons">
  <div class="button-container">
    <p class="profile-buttons" id="pbtn1"><%= link_to "Back", root_path %></p>
    <p class="profile-buttons" id="pbtn2"><%= link_to "New", new_user_path %></p>
    <p class="profile-buttons" id="pbtn3"><%= link_to "Calendar", new_user_path %></p>
  </div>
</div>
</div>

  <hr class="horizontal-line my-4" size="30" width="75%">


<% @group.users.each do |user| %>
<h1><%= user.name %></h1>
<% end %>
