<div class="newsfeed">
  <div class="row">
    <div class="col">
      <div class="newsfeed-profile-card">
        <div class="newsfeed-profile-title">
          <h3><%= current_user.name %></h3>
        </div>
        <div class="newsfeed-photo-container">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key %>
          <% else %>
            <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png") %>
          <% end %>
        </div>
        <div class="newsfeed-groups-container">
          <h3>My Groups</h3>
          <% @user.memberships.each do |membership| %>
          <p><%= link_to "#{Group.find(membership.group_id).name}", groups_path %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="newsfeed-container">
        <%= link_to "Refresh", feed_path, id: "autorefresh" %>
        <% if @friends.nil? %>
        <% else %>
          <% @friends.each do |friend|%>
            <% friend.recommendations.order(created_at: :desc).each do |recommendation| %>
              <div class="newsfeed-card">
                <div class="newsfeed-card-header">
                  <div class="newsfeed-avatar-container">
                    <%= cl_image_tag friend.photo.key %>
                  </div>
                  <div class="name-time-ago">
                    <div class="feed-btn">
                       <%= link_to "#{recommendation.place.name}", place_path(recommendation.place), class: "first-link" %>

                        <a href="/places/<%= recommendation.place.id %>">
                        recommended <%= distance_of_time_in_words(Time.now - recommendation.created_at)%> ago
                        </a>
                    </div>
                  </div>
                  <div class="newsfeed-icons-container">
                     <p><%= recommendation.place.recommendations.count%></p>
                        <i class="fas fa-heart"></i>
                  </div>
                </div>
                <div class="newsfeed-img-container">
                  <%= cl_image_tag recommendation.place.photos.first.key %>
                </div>
              </div>
            <% end %>
            <% friend.plans.each do |plan| %>
              <div class="newsfeed-card">
                <div class="newsfeed-card-header">
                  <div class="newsfeed-avatar-container">
                    <%= cl_image_tag friend.photo.key %>
                  </div>
                  <div class="name-time-ago">
                    <div class="feed-btn">
                       <%= link_to "#{plan.place.name}", place_path(plan.place), class: "first-link" %>
                        <a>
                        <%= friend.name %> visited
                        </a>
                    </div>
                  </div>
                  <div class="newsfeed-icons-container">
                     <p><%= plan.place.recommendations.count%></p>
                     <i class="fas fa-heart"></i>
                  </div>
                </div>
                <div class="newsfeed-img-container">
                  <%= cl_image_tag plan.place.photos.first.key %>
                </div>
              </div>
            <% end %>
          <% end  %>
        <% end  %>
      </div>
    </div>
    <div class="col">
      <div class="newsfeed-friends-card">
        <h4 class="profile-text"> <strong><%= @user.friendships.count %></strong> friends</h4>
        <div class="ffriend">
          <p class="find-friends"><%= link_to "Find Friends", users_path %></p>
        </div>
        <div class="friends-container w-100">
          <% @user.friendships.each do |friendship| %>
            <div class="avatar-container">
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key %>
              <% else %>
                <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png", width: 112, height: 112, radius: "max") %>
              <% end %>
              <p><%= link_to "#{friendship.friend.name}", users_path %></p>
              <div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>



