<div class="newsfeed">
  <div class="row">
    <div class="col-feed">
      <div class="newsfeed-profile-card">
        <div class="newsfeed-profile-title">
          <h3><%= current_user.name %></h3>
        </div>
        <div class="newsfeed-photo-container">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key %>
          <% else %>
            <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png") %>
          <% end %>
        </div>
        <div class="newsfeed-groups-container">
        <% if @user.memberships.count > 0  %>
          <h3>My Groups</h3>
          <% @user.memberships.each do |membership| %>
          <p><%= link_to "#{Group.find(membership.group_id).name}", groups_path %></p>
          <% end %>
        <%else %>
        <%end %>
        </div>
        <div class="rpu-friends">
          <div>
            <h5>My friends</h5>
          </div>
          <div class="ru-friends-container-feed">
           <% @user.friendships.each do |friendship| %>
              <div class="avatar-container">
                <% if friendship.friend.photo.attached? %>
                  <%= cl_image_tag friendship.friend.photo.key %>
                <% else %>
                  <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png", width: 112, height: 112, radius: "max") %>
                <% end %>
                  <p id="friendship-name"><%= friendship.friend.name %></p>
              </div>
            <% end %>
          </div>
          <div class="ffriend">
            <p class="find-friends"><%= link_to "Find Friends", users_path %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="newsfeed-container">
        <div class="refresh-container">
          <%= link_to "See new posts...", feed_path, id: "autorefresh" %>
        </div>
        <% if @friends.nil? %>
        <% else %>
          <% @friends.each do |friend|%>
            <% friend.recommendations.order(created_at: :desc).each do |recommendation| %>
              <div class="newsfeed-card">
                <div class="newsfeed-card-header">
                  <div class="newsfeed-avatar-container">
                    <%= cl_image_tag friend.photo.key %>
                  </div>
                  <div class="name-time-ago">
                    <div class="feed-btn">
                       <%= link_to "#{recommendation.place.name}", place_path(recommendation.place), class: "first-link" %>
                        <a href="/places/<%= recommendation.place.id %>">
                        <%= distance_of_time_in_words(Time.now - recommendation.created_at)%> ago
                        </a>
                    </div>
                  </div>
                </div>
                <div class="newsfeed-img-container">
                  <%= cl_image_tag recommendation.place.photos.first.key %>
                </div>
              </div>
                <div class="card-rec-text">
                  <p><%= recommendation.user.name %> recommended</p>
                  <div class="newsfeed-icons-container">
                     <p><%= recommendation.place.recommendations.count%></p>
                        <i class="fas fa-heart"></i>
                  </div>
                </div>
            <% end %>
            <% friend.plans.each do |plan| %>
              <div class="newsfeed-card">
                <div class="newsfeed-card-header">
                  <div class="newsfeed-avatar-container">
                    <%= cl_image_tag friend.photo.key %>
                  </div>
                  <div class="name-time-ago">
                    <div class="feed-btn">
                       <%= link_to "#{plan.place.name}", place_path(plan.place), class: "first-link" %>
                        <a>
                          <%= friend.name %> visited
                        </a>
                    </div>
                  </div>
                </div>
                <div class="newsfeed-img-container">
                  <%= cl_image_tag plan.place.photos.first.key %>
                </div>
              </div>
              <div class="card-rec-text">
                <p><%= plan.user.name %> visited </p>
                <div class="newsfeed-icons-container">
                     <p><%= plan.place.recommendations.count%></p>
                        <i class="fas fa-heart"></i>
                 </div>
              </div>
            <% end %>
          <% end  %>
        <% end  %>
      </div>
    </div>
    <div class="col">
      <div class="right-side-container">
        <div class="top-place">
          <h3>#Trending</h3>
          <% @trending.first(2).each do |place| %>
            <div class="trending-container">
              <div class="trending-image"> <%= cl_image_tag place.photos[0].key %></div>
              </%>
                <div class="middle">
                  <div class="text"><%= link_to "#{place.name}", place_path(place) %>
                    <p><%= place.recommendations.count%><i class="fas fa-heart"></i></p>
                  </div>
                </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>



