<div class="container">
  <div class="header-container">
    <div class="photo-container">
     <div class="profile-title">
      <div class="profile-text"><h3><%= current_user.name %> </h3></div>
      </div>
        <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key %>
            <% else %>
            <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png", width: 180, height: 180, radius: "max") %>
          <% end %>
        <br>
    </div>

    <div class="add-profile-picture">

    </div>

    <div class="button-container">
      <p class="profile-buttons" id="pbtn1"><%= link_to "Edit", new_user_path %></p>
      <p class="profile-buttons" id="pbtn2"><%= link_to "New Plans", new_user_path %></p>
      <p class="profile-buttons" id="pbtn3"><%= link_to "Calendar", new_user_path %></p>
    </div>
  </div>


<div class="p-title">
  <% if @user.plans.empty? %>
    <h3>My Plans</h3>
  <% else %>
    <h3>My Plans <%= "(#{@user.plans.count})" %> </h3>
  <% end %>
</div>
  <div class="p-up-cont">
    <div class="left-p-up">
      <div class="lpu-plans">
        <div>
            <% if @user.plans.empty? %>
              <div class="plan-carousel">
                <div class="plan-card">
                  <img src="https://images.unsplash.com/photo-1550160770-4f8f50c44511?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" style="width:80%">
                  <h2 class="plan-card-date">You have no plans! Make a Plan...</h2>
                </div>
              </div>
                <% else %>
              <div class="plan-carousel">
                <% @user.plans.each do |plan| %>
                <div class="plan-card">
                  <h2 class="plan-card-text"> <%= plan.place.name %></h2>
                  <h2 class="plan-card-date"><%= plan.date.strftime("%B #{plan.date.day.ordinalize}, %Y") %></h2>
                    <%= cl_image_tag plan.place.photos.first.key %>
                  <div class="plan-user-avatar">
                    <%= cl_image_tag plan.user.photo.key %>
                    <% if plan.group %>
                    <% @avatars = plan.group.memberships - [current_user] %>
                      <% @avatars.each do |avatar| %>
                        <%= cl_image_tag avatar.user.photo.key %>
                      <% end %>
                    <% end %>
                    <% if plan.friend.photo.attached? %>
                      <%= cl_image_tag plan.friend.photo.key %>
                    <% end %>
                  </div>
                </div>
                <% end %>
              <% end %>
              </div>
          </div>
      </div>
      <div class="friend-attending">
      </div>
    </div>
    <div class="right-p-up">
      <div class="rpu-friends">
        <div>
          <h3> <strong><%= @user.friendships.count %></strong> friends</h3>
        </div>
        <div class="ru-friends-container">
         <% @user.friendships.each do |friendship| %>
            <div class="avatar-container">
              <% if friendship.friend.photo.attached? %>
                <%= cl_image_tag friendship.friend.photo.key %>
              <% else %>
                <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png", width: 112, height: 112, radius: "max") %>
              <% end %>
                <p id="friendship-name"><%= friendship.friend.name %></p>
              <div class="delete-friend-method">
                <p><%= link_to "remove", friendship, :method => :delete %></p>
              </div>
            </div>
          <% end %>
        </div>
        <div class="ffriend">
          <p class="find-friends"><%= link_to "Find Friends", users_path %></p>
        </div>
      </div>
    </div>
  </div>


  <div class="similar-places-container" id="profile-similar-places-container">
   <% if @user.recommendations.empty? %>
     <h3></h3>
   <% else  %>
      <h3>My Recommendations</h3>
   <% end %>
      <div class="multiple-items">
        <% @recommendations.each do |recommendation|  %>
          <div class="b-card">
            <%= cl_image_tag recommendation.place.photos[0].key, class: "card-img" %>
            <div class="b-card-text">
              <h3><%= link_to "#{recommendation.place.name}", place_path(recommendation.place), class: "b-card-text" %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>



  <div class="similar-places-container" id="profile-similar-places-container">
  <% if @user.plans.empty? %>
    <h3> Some ideas to get you started...</h3>
  <% else %>
    <h3>Similar Places You Might Like</h3>
    <% end %>
    <div class="multiple-items">
      <% @places.first(12).each do |place|  %>
        <div class="b-card">
          <%= cl_image_tag place.photos[0].key, class: "card-img" %>
          <div class="b-card-text">
            <h3><%= link_to "#{place.name}", place_path(place), class: "b-card-text" %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
