<div class="container">
  <div class="header-container">
    <div class="photo-container">
     <div class="profile-title">
      <h1 class="profile-text"><%= current_user.name %></h1>
      </div>
        <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, width: 250, height: 250, radius: "max" %>
            <% else %>
            <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png", width: 250, height: 250, radius: "max") %>
          <% end %>
        <br>
    </div>

    <div class="add-profile-picture">

    </div>

    <div class="button-container">
      <p class="profile-buttons" id="pbtn1"><%= link_to "Edit Profile", new_user_path %></p>
      <p class="profile-buttons" id="pbtn2"><%= link_to "New Plans", new_user_path %></p>
      <p class="profile-buttons" id="pbtn3"><%= link_to "Calendar", new_user_path %></p>
    </div>



  <div class="upper-profile-container">
    <h2 class="profile-text text-left">My Plans</h2>
    <div class="d-flex" style="justify-content: space-between;">
      <div style="width:60%;">
        <div class="profile-plans">
        <% if @user.plans.empty? %>
         <div class="plan-carousel">
             <div class="plan-card">
               <img src="https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" style="width:80%">
               <h2 class="plan-card-date m-0">You have no plans! Make a Plan...</h2>
             </div>
         </div>
        <% else %>
          <div class="plan-carousel">
            <% @user.plans.each do |plan| %>
              <div class="plan-card">
                <h2 class="plan-card-text"> <%= plan.place.name %></h2>
                <%= cl_image_tag plan.place.photos.first.key %>
                <h2 class="plan-card-date m-0"><%= plan.date %></h2>
              </div>
            <% end %>
          </div>
          </div>
        <% end %>
      </div>
      <div class="w-25 m-50">
        <h4 class="profile-text"> <strong><%= @user.friendships.count %></strong> friends</h4>
        <div class="friends-container w-100">
          <% @user.friendships.each do |friendship| %>
            <div class="avatar-container">
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key %>
              <% else %>
                <%= cl_image_tag("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png", width: 112, height: 112, radius: "max") %>
              <% end %>
              <p id="friendship-name" class="profile-text"><%= friendship.friend.name %></p>
              <div>
                <%= link_to "Delete", friendship, :method => :delete %>
              </div>
            </div>
          <%end%>
        </div>
          <p class="find-friends"><%= link_to "Find Friends", users_path %></p>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>

  <hr class="horizontal-line my-4" width="75%" size="30">
  <div class="similar-places-container">
      <h2>My Recommendations</h2>
      <div class="multiple-items">
        <% @recommendations.each do |recommendation|  %>
          <div class="b-card">
            <%= cl_image_tag recommendation.place.photos[0].key, class: "card-img" %>
            <div class="b-card-text">
              <h3><%= link_to "#{recommendation.place.name}", place_path(recommendation.place), class: "b-card-text" %></h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <div class="row">

  </div>
  </div>
  <div class="similar-places-container">
    <h2>Similar Places You Might Like</h2>
    <div class="multiple-items">
      <% @places.each do |place|  %>
        <div class="b-card">
          <%= cl_image_tag place.photos[0].key, class: "card-img" %>
          <div class="b-card-text">
            <h3><%= link_to "#{place.name}", place_path(place), class: "b-card-text" %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
