
<div class="homepage-title-container">
  <span class="word" id="title">Socialite</span>
  <h3>Great places by peple you trust</h3>
</div>

<div class="image-banner">
  <img src="https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1385&q=80" alt="">
</div>

    <hr class="horizontal-line my-4" size="50" width="75%">


<div class="tagline-container">
  <h3>Find Places...</h3>
  <h3>you'll actually like.</h3>
  <div class="d-block my-4">
    <h6><%= link_to "See All Places", places_path, class:"btn btn-dark btn-lg"%></h6>
  </div>
</div>

<div class="container mx-auto">
  <div class="homepage-image">
    <div class="row">
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
            <%= link_to(places_path(:category=>"Bar")) do %>
                <img src="https://images.unsplash.com/photo-1543007630-9710e4a00a20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" alt="Card image cap" style="width: 225px; height: 324px; object-fit: cover;">
              </div>
              <div class="homepage-image-text">Bars</div>
            <% end %>
        </div>
      </div>
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
            <%= link_to(places_path(:category=>"Food & Drink")) do %>
                <img src="https://images.unsplash.com/photo-1555992336-03a23c7b20ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80" alt="Card image cap" style="width: 225px; height: 324px; object-fit: cover;">
              </div>
              <div class="homepage-image-text">Food & Drink</div>
            <% end %>
        </div>
      </div>
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
          <%= link_to(places_path(:category=>"Nightclub")) do %>
              <img src="https://images.unsplash.com/photo-1555086156-e6c7353d283f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Card image cap" style="width: 225px; height: 324px; object-fit: cover;">
            </div>
            <div class="homepage-image-text">Nightclubs</div>
          <% end %>
        </div>
      </div>
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
            <%= link_to(places_path(:category=>"Outdoors")) do %>
                  <img src="https://images.unsplash.com/photo-1536274236045-2ca6d4cba085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Card image cap" style="width: 225px; height: 324px";>
                </div>
                <div class="homepage-image-text">Outdoors</div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


