<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1415889455891-23bbf19ee5c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);">
  <div class="title">
   <h2>sign into socialite</h2>
  </div>
  <div class="container">
  <div class="login-boxes">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "box"}) do |f| %>
    <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, label: false,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    placeholder: "email" %>
        <%= f.input :password, label: false,
                    required: false,
                    input_html: { autocomplete: "current-password" },
                    placeholder: "password" %>
<!--         <%= f.input :remember_me, label: "remember my details!", as: :boolean if devise_mapping.rememberable? %>
 -->      </div>
 <br>
 <br>

      <div class="form-actions">
        <%= f.button :submit, "log in" %>
      </div>
    <% end %>
    </div>
  </div>
  <h5 class="links"><%= render "devise/shared/links" %></h5>
</div>
