
<div class="title-container">
  <span class="word" id="title">Socialite</span>
  <h3>Discover places for you</h3>
</div>


  <div class="places-index">
    <div class="places-form">
        <%= simple_form_for :search, url: places_path, method: :get do |f| %>
          <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat" id="search-btn">
          <i class="fas fa-search" id="search"></i> Search
          </button>
        <% end %>
      </div>
    </div>

    <div id="map"
        style="height: 450px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <hr class="horizontal-line my-4" size="30" width="75%">

    <div class="subtitle-container">
      <h2>Showing <%= @places.count %> Places Near You</h2>
      <div class="messages-buttons">
        <div class="button-container">
          <p class="profile-buttons" id="pbtn1"><%= link_to "TAGS", places_path %></p>
          <p class="profile-buttons" id="pbtn2"><%= link_to "TAGS", places_path %></p>
          <p class="profile-buttons" id="pbtn3"><%= link_to "TAGS", places_path %></p>
        </div>
      </div>
    </div>

    <div class="container">
    <% @places.each_slice(3) do |three_places| %>
      <div class="row">
        <% three_places.each do |place| %>
        <div class="col-4 margin-padding">
          <div class="place-card card" style="width: 18rem;">
            <%= cl_image_tag place.photos[0].key, class: "card-img" %>
            <a href="#" class="heart-button">
                <i class="heart-button far fa-heart heart-unlock"></i>
                <i class="heart-button fas fa-heart heart-lock"></i>
            </a>
            <div class="place-card-text">
              <div class="title-adress-container">
                <h3><%= link_to "#{place.name}", place_path(place) %></h3>
                <p><%= place.address %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

  <div class="add-btn">
  <%= link_to "Add a new place", new_place_path %>
  </div>
</div>


