
<div class="container">
  <div class="login-boxes">
    <%= simple_form_for(@place, html: {class: "box"}) do |f| %>
        <%= f.input :name %>
        <%= f.input :address, input_html: { id: 'place_address'} %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Submit Place" %>
        <% end %>
    </div>
  </div>
