<div class="place-container mt-4">
  <div class="text-container">
    <div class="title-star-group">
      <div class="container">
        <span class="word"><%= @place.name %></span>
      </div>
      <div class="star-rating" style="font-size:0.5rem;">
        <% total_rating = [] %>
        <% rating_count = 0 %>
        <% average_rating = 0 %>
        <% @place.comments.each do |comment| %>
          <% total_rating << comment.rating %>
          <% rating_count += 1 %>
          <% average_rating = (total_rating.sum / rating_count) %>
          <% end %>
          <% average_rating.to_i.times do  %>
            <span class="fa fa-star fa-4x checked"></span>
          <% end %>
      </div>
      <div class="location-container">
        <i class='fas fa-map-marker-alt' style='font-size:36px; line-height: 42px; margin-right: 20px;'></i>
        <h3><%= @place.address %></h3>
      </div>
    </div>
    <d class="description-container">
      <p>A trendy bar in Soho known for its craft beers in the morning. Make sure you get their pancakes, with maple syrup.</p>
    </d>
    <div class="d-flex justify-content-around w-75">
      <button type="button" class="recommend-btn">Recomend</button>
      <button type="button" class="book-btn">Book</button>
    </div>
  </div>
  <img class="place-img" src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" alt="">
</div>

  <hr class="horizontal-line my-4" size="30" width="75%">

<div class="description-plan-container">
  <div class="description-container">
    <h2>Location</h2>
    <div id="map"
        style="height: 450px; width: 650px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="plan-container">
    <div class="card card-body">
      <h3 class="text-center mb-4">Make A Plan</h3>
      <div class="container">
        <%= simple_form_for([@place, Plan.new]) do |f| %>
        <%= f.input :date %>
        <%= f.input :group, collection: @groups %>
        <%= f.association :friend, collection: @friends %>
        <%= f.submit "Create Plan", class: "book-btn" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="similar-places-container">
  <h2>Similar Places You Might Like</h2>
  <div class="multiple-items">
    <% @places.each do |place|  %>
    <div class="place-card card" style="width: 18rem;">
      <img class="card-img-top" src="https://images.unsplash.com/photo-1563897539633-7374c276c212?ixlib=rb-1.2.1&auto=format&fit=crop&w=1543&q=80" alt="Card image cap">
      <a href="#" class="heart-button">
          <i class="heart-button far fa-heart heart-unlock"></i>
          <i class="heart-button fas fa-heart heart-lock"></i>
      </a>
      <div class="card-body">
        <p class="card-text"><%= place.name %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="reviews-container">
  <div class="d-flex">
    <h2>Reviews</h2>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#exampleModal">
      Leave a Review
    </button>
  </div>
  <% @place.comments.each do |comment| %>
  <div class="reviews-card-container">
    <div class="reviews-card" id="review-<%= comment.id %>">
      <img src="https://images.unsplash.com/photo-1590698505434-48be4c47dc1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=943&q=80" />
      <div class="reviews-card-infos">
        <% if comment.user.name  %>
          <h2><%= comment.user.name %></h2>
        <% else %>
        <% end  %>
        <p><%= comment.content %></p>
        <% comment.rating.to_i.times do  %>
          <i id="star" class="fas fa-star"></i>
        <% end %>
      <%= link_to "Remove", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= simple_form_for [ @place, @comment ] do |f| %>
         <%= f.input :content, :label => "What did you think, #{current_user.name}?" %>
         <%= f.input :rating, collection: (1..5) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Submit comment", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


