<div class="place-container mt-4">
  <div class="text-container">
    <div class="container">
      <span class="word">The Breakfast Club</span>
    </div>
    <div class="location-container">
      <i class='fas fa-map-marker-alt' style='font-size:36px; line-height: 42px;'></i>
      <h3>6 King St, Soho</h3>
    </div>
    <div class="star-rating" style="font-size:0.5rem;">
      <span class="fa fa-star fa-4x checked"></span>
      <span class="fa fa-star fa-4x checked"></span>
      <span class="fa fa-star fa-4x checked"></span>
      <span class="fa fa-4x fa-star"></span>
      <span class="fa fa-4x fa-star"></span>
    </div>
    <button type="button" class="recommend-btn">Recomend</button>
    <button type="button" class="book-btn">Book</button>
  </div>
  <img class="place-img" src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" alt="">
</div>
  <hr class="horizontal-line my-4" size="30" width="75%">

<div class="description-container">
  <p>A trendy bar in Soho known for its craft beers in the morning. Make sure you get their pancakes, with maple syrup.</p>
  <div class="icons-container">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Icons here</p>
        </div>
        <div class="col-sm">
          <p>Icons here</p>
        </div>
        <div class="col-sm">
          <p>Icons here</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Icons here</p>
        </div>
        <div class="col-sm">
          <p>Icons here</p>
        </div>
        <div class="col-sm">
          <p>Icons here</p>
        </div>
      </div>
    </div>
  </div>

    <br>



<div class="container-fluid bg-light py-3">
 <div class="row">
   <div class="col-md-6 mx-auto">
     <div class="card card-body">
       <h3 class="text-center mb-4">Create your Listing</h3>
         <div class="container">
           <%= simple_form_for([@place, Plan.new]) do |f| %>
           <%= f.input :date %>
           <%= f.input :group, collection: @groups %>
           <%= f.association :friend, collection: @friends %>
             <%= f.submit "Create Plan", class: "btn btn-lg btn-primary btn-block" %>
         </div>
       <% end %>
     </div>
   </div>
 </div>
</div>

<div class="reviews-container">
  <h2>Reviews</h2>
  <div class="reviews-card-container">
    <div class="reviews-card">
      <img src="https://images.unsplash.com/photo-1590698505434-48be4c47dc1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=943&q=80" />
      <div class="-reviews-card-infos">
        <h2>Ryid</h2>
        <p>Not sure what was better...</p>
        <div class="star-rating" style="font-size:0.5rem;">
          <span class="fa fa-star fa-2x checked" id="reviews-stars"></span>
          <span class="fa fa-star fa-2x checked" id="reviews-stars"></span>
          <span class="fa fa-star fa-2x checked" id="reviews-stars"></span>
          <span class="fa fa-2x fa-star" id="reviews-stars"></span>
          <span class="fa fa-2x fa-star" id="reviews-stars"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">
<hr class="horizontal-line my-4" size="30" width="75%">

<div class="comments">
  <% if @place.comments.any? %>
    <% star = [] %>
    <% @place.comments.each do |comment| %>
    <% star << comment.rating %>
    <% end %>
      <% if star.size > 0 %>
        <% final_rating = star.inject{ |sum, el| sum + el }.to_f / star.size %>
      <% else %>
      <% end  %>
      <div><h5> Comments </h5>
        <% if final_rating %>
          <% final_rating.to_i.times do %>
          <i id="star" class="fas fa-star"></i>
          <% end %>
        <% if final_rating % 2 == 0 %>
          <i></i>
        <% elsif final_rating % 2 == 1  %>
          <i></i>
        <% else %>
          <i id="star" class="fas fa-star-half"></i>
        <% end %>
      <% else %>
      <% end %>
    <% end %>

<%= link_to "Leave a comment", new_place_comment_path(@place) %>

<%= simple_form_for [ @place, @comment ], remote: true do |f| %>
  <%= f.input :content, :label => "What did you think, #{current_user.name}?" %>
  <%= f.input :rating, collection: (1..5) %>
  <%= f.submit "Submit comment", class: "btn btn-primary" %>
<% end %>
<ul>
    <% @place.comments.each do |comment| %>
      <li id="comment-<%= comment.id %>"><%= comment.content %></li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <% comment.rating.to_i.times do  %>
      <i id="star" class="fas fa-star"></i>
      <% end %>
      <% if comment.user.name  %>
        <p id="commenter"><%= comment.user.name %><p>
      <% else %>
      <% end  %>
      <%= link_to "Remove",
        comment_path(comment),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
        <% end %>
       </ul>
    </li>
</div>
</div>

