<!DOCTYPE html>
<html>
  <head>
    <title>LMB388Socialite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <nav class="navbar sticky-top bg-light">
    <a class="navbar-brand" href="#">Socialite</a>
  </nav>

  <body>
    <%= yield %>
  </body>
  <div class="footer mt-4">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      Team Socialite
    </div>
  </div>
</html>
